*{
    borde: 1px solid blue;
    box-sizing: border-box;
    
}

body{
    width: 1920px;
    height: 5000px;
    margin: 0 auto;
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fffaf9;
}

.discount{
    background-color: #01404e;
    padding: 20px 50px;
    color: white;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
    box-sizing: border-box;
    appearance: none;
}

p{
    color: #01404e;
    font-size: 18px;
    
}
.navigator{
    border-bottom: solid 1px sienna;
    width: 100%;
    
}
.search input[type=text] {
    padding: 7px;
    font-size: 17px;
    border: 1px solid sienna;
    display: inline-block;
    width: 20%;
    background: #ffffff;
    border-radius: 6px;
  }

  form {
    display: inline;
    margin-left: 100px;
  }


.up{
    color: #01404e;
    margin-left: 50px;
    margin-right: -40px;
    margin-top: 50px;
    border-radius: 8px;
    border: solid 1px #01404e;
    background-color: #ffffff;
    color: #01404e;
    padding: 10px;
    font-weight: bold;
    text-decoration-line: none;

}
.up:hover{
    color: #01404ecb;
}

.title{
    color: #01404e;
    margin-left: 10px;
    font-size: 26px;
    font-weight: 950;
}

.container {
    height: 50px;
    width: 80%;
    margin-left: auto;
}
.inside {
    padding: 10px;
    margin: 3px;
    width: 1350px;
    height: 40px;
    box-sizing: border-box;
}
.button{
    width: 200px;
    padding: 6px 5px 19px 0px;
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    border-bottom: 2px;
    font-size: 18px ;
    font-weight: bold;
    color:#01404e;
}
.button:hover{

    color:#01404ecb;

}
.card {
    color: #01404e;

}


.middle{
    width: 700px;
    padding: 10px 20px 0px;
    text-align: justify;
}


#title{
    font-size: 60px ;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    padding: 20px 0px;
    width: 100%;
    color: #01404e;
    font-weight: 1000;
}
.intro{
    padding-top: 20px;
    padding-left: 10px;
    display: block;
    text-align: justify;
    width: 100%;
}
.sign {
    margin-left: 50px;
    margin-right: -40px;
    margin-top: 50px;
    border-radius: 8px;
    background-color: #01404e;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    text-decoration-line: none;
}
.sign:hover{
    background-color:#01404ecb;
    
   
}
.trending{
    padding-top: 20px;
    padding-left: 10px;
    width: 100%;
}

.trend{
  display: inline-flex;
  align-items: top;
  justify-content: left;
  width: 330px;
  margin-left: 25px;
}
img{
    margin: 10px;
    border-radius: 8px;
}
.card.content{
    margin: 10px;
}
.header{
    color: sienna;
    font-size: 20px;
    font-weight: 900;
    display: block;
}
.text{
    padding-top: 10px;
    display: inline-block;
    font-weight: bolder;
    font-size: 17px;
   
}

.trend:hover .text {
    text-decoration: underline sienna;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px
}
.wrap{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 30px;
}
.advices{
    width: 100%;
}
.banner{
    width: 100%;
    margin-top: 90px;
}
.wraper{
    width: 48%;
    margin-left: auto;
    margin-right: auto;
}
.odin{
    width: 900px;
    height: 550px;
    border-radius: 20px;
}
.dropdown {
    display: relative;
    display: inline-block;
  }
.dropbtn {
    padding: 6px 5px 19px 0px;
    margin: 0px 15px 0px 0px;
    font-size: 18px ;
    font-weight: bold;
    color:#01404e;
    cursor: pointer;
  }
  .dropbtn:after{
    content: "";

}
  .dropdown:hover .dropbtn {
    color:#01404ecb;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffaf9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 70%;
    margin-top: 23px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
  }
  .dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

.column{
    float: left;
    width: 18%;
    padding: 12px;
    border-right: 1px solid sienna;
    height: 400px;
    margin: 30px 0px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.subtitle{
    width: 200px;
    padding: 6px 5px 19px 0px;
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    font-size: 18px ;
    font-weight: bold;
    color:#01404e;
    
}
 .subcat{
    padding: 9px 0px;
    margin: 0px 15px 0px 0px;
    color:#969696;
    font-size: 18px;
 }
 .subcat:hover{
    text-decoration: underline #01404e;
    text-underline-offset: 4px;
}

.view.all{
    text-decoration:underline;
    padding: 9px 0px;
    margin: 0px 15px 0px 0px;
    color:#5f5f5f;
    font-size: 18px;
    font-weight: 900;
    text-underline-offset: 6px;
    text-align: center;
}
.seeall a{
    margin-top: 30px;
    padding: 9px 0px;
    font-size: 18px;
    font-weight: 900;
    text-underline-offset: 6px;
    color: #01404e;
    text-decoration:underline;
    text-align: center;
}